<!--
<ion-header>
    <ion-toolbar>
        <ion-title>Create a new playlist</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [formControl]="playlistForm" type="text"></ion-input>
    </ion-item>
    <ion-button [disabled]="playlistForm.invalid" expand="full" (click)="addPlaylist()">Validate</ion-button>
</ion-content>
-->
<ion-card>
    <ion-card-header>
        <ion-card-title>Create a new playlist</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input [formControl]="playlistForm" type="text"></ion-input>
        </ion-item>
        <ion-button [disabled]="playlistForm.invalid" expand="full" (click)="addPlaylist()">Validate</ion-button>
    </ion-card-content>
</ion-card>