<ng-container *ngIf="musics$ | async as musics;">
    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="disconnect()">
                    <ion-icon size="large" name="log-out-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>Tracks</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">Tracks</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-searchbar #search showClearButton animated (ionChange)="_ionChange($event)"></ion-searchbar>
        <ion-list>
            <ion-item detail="false" *ngFor="let music of searchedItem">
                <ion-item class="music" detail="false" [routerLink]="['music/'+music.id]" (click)="playMusique(music)">
                    <ion-avatar slot="start">
                        <img [src]="music.idImageStorage">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{ music.nom }}</h2>
                        <p>{{ music.idAuteur }}</p>
                    </ion-label>
                </ion-item>
                <ion-icon slot="end" name="ellipsis-vertical" (click)="openPopover($event,music)"></ion-icon>
            </ion-item>
        </ion-list>
        <ion-fab horizontal="center" vertical="bottom" slot="fixed">
            <ion-fab-button color="tertiary" (click)="openModal()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-content>
</ng-container>