.player {
    height: 55px;
    background: var(--ion-item-background);
    img {
        height: 55px;
    }
    font-size: small;
    .progress-bar {
        height: 2px;
        width: 100%;
        .progress {
            height: 100%;
        }
    }
}