<ion-content>
    <ion-card *ngIf="!isImgUploading && isImgUploaded">
        <ion-card-header>
            <ion-card-title>Select File</ion-card-title>
        </ion-card-header>

        <ion-button color="danger" expand="block">
            <input type="file" class="upload" (change)="fileUpload($event)" accept=".mp3, .wav" />
        </ion-button>
    </ion-card>

    <ion-card *ngIf="isImgUploading && !isImgUploaded ">
        <ion-card-header>
            <ion-card-title>Files selected: <b>{{ FileName }}</b></ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div *ngIf="progressNum | async as percentage ">
                Progress: {{ percentage | number }}%
                <ion-progress-bar value="{{ percentage / 100 }} "></ion-progress-bar>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>