<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="disconnect()">
                <ion-icon size="large" name="log-out-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Music
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="page" [fullscreen]="true">
    <ion-header class="header" collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Music</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card class="card">
        <img class="img" src="https://cdn2.clc2l.fr/t/a/p/apple-music-tNKCFp.jpg" />
        <ion-card-header>
            <ion-card-title>{{musique.nom}}</ion-card-title>
            <ion-card-subtitle>{{musique.idAuteur}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="content">
            <ion-range step="0.1" class="range" min="0" max="100" [(ngModel)]="progress" (touchend)="seekTo(progress)" (mouseup)="seekTo(progress)">
                <ion-label slot="start">{{currentTime}}</ion-label>
                <ion-label slot="end">{{audioDuration}}</ion-label>
            </ion-range>
            <ion-button (click)="previousMusique()" shape="round" color="light">
                <ion-icon slot="icon-only" name="play-back"></ion-icon>
            </ion-button>
            <ion-button (click)="playPause()" shape="round" color="light">
                <ion-icon slot="icon-only" [name]="playIcon"></ion-icon>
            </ion-button>
            <ion-button (click)="nextMusique()" shape="round" color="light">
                <ion-icon slot="icon-only" name="play-forward"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>