<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Music
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="page" [fullscreen]="true">
    <ion-header class="header" collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Music</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-card class="card">
        <img class="img" src="https://cdn2.clc2l.fr/t/a/p/apple-music-tNKCFp.jpg" />
        <ion-card-header>
            <ion-card-title>Music Name</ion-card-title>
            <ion-card-subtitle>Artiste</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="content">
            <ion-range class="range" min="0" max="100" value="0" color="light">
                <ion-label slot="start">0:00</ion-label>
                <ion-label slot="end">2:00</ion-label>
            </ion-range>
            <ion-icon class="icons" size="large" name="play-back-circle-outline"></ion-icon>
            <ion-icon class="icons" size="large" name="pause-circle-outline"></ion-icon>
            <ion-icon class="icons" size="large" name="play-circle-outline"></ion-icon>
            <ion-icon class="icons" size="large" name="play-forward-circle-outline"></ion-icon>
        </ion-card-content>
    </ion-card>
</ion-content>