<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Log In</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="primary" expand="block">Sign In</ion-button>
                <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="connect-with">Connect with :</div>
            <ion-col class="extras">
                <ion-button color="danger" (click)="connectwithgoogle()">Google
                    <ion-icon name="logo-google"></ion-icon>
                </ion-button>
                <ion-button color="tertiary" (click)="connectwithtwitter()">Twitter
                    <ion-icon name="logo-twitter"></ion-icon>
                </ion-button>
                <ion-button color="dark" (click)="connectwithgithub()">Github
                    <ion-icon name="logo-github"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>