.extras {
    text-align: center;
}

.connect-with {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.row {
    text-align: center;
    padding-bottom: 5%;
}

.small-text {
    text-align: center;
}