<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Log In</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="signinForm" (ngSubmit)="connectWithUserAuthentification()">
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-row class="row">
            <ion-col>
                <ion-button [disabled]="signinForm.invalid" expand="block" type="submit" color="primary">Sign In</ion-button>
                <a (click)="forgotPassword()" class="small-text">Forgot Password?</a>
            </ion-col>
        </ion-row>
        <ion-row>
            <div class="connect-with">Connect with :</div>
            <ion-col class="extras">
                <ion-button color="danger" (click)="connectwithgoogle()" disabled>
                    <ion-icon slot="start" name="logo-google"></ion-icon>
                    Google
                </ion-button>
                <ion-button color="primary" (click)="connectwithtwitter()" disabled>
                    <ion-icon slot="start" name="logo-twitter"></ion-icon>
                    Twitter
                </ion-button>
                <ion-button color="dark" (click)="connectwithgithub()" disabled>
                    <ion-icon slot="start" name="logo-github"></ion-icon>
                    Github
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>