<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <ion-item lines="full">
            <ion-label position="floating">Pseudo</ion-label>
            <ion-input formControlName="pseudo" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item lines="full">
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/home']" [disabled]="registerForm.invalid" expand="block" type="submit" color="danger">Sign Up</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>